<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>VueJS - Giphy</title>
    <link rel="stylesheet" href="assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/css/app.css">
</head>
<body>
<div id="app" class="col-md-10 col-xs-11">

    <div class="col-xs-12 col-md-6" id="app-viewer">
        <img :src="current_gif" v-if="current_gif">
        <h3 v-else>Search for gifs and select one</h3>
    </div>
    <div class="col-xs-12 col-md-6">
        <form class="form-horizontal" v-on:submit.prevent="searchGIFs()">
            <div class="form-group">
                <h3>Search gifs by key words</h3>
                <input type="text" class="form-control" placeholder="Key words" v-model="query">
            </div>
            <button type="submit" class="btn btn-primary" id="searchBtn" >
                Search
            </button>
        </form>

        <div v-show="results" class="results-box">
            <img :src="gif.images.fixed_height_small.url" class="image-card" v-for="gif in results" v-on:click="viewGIF(gif)">
        </div>
    </div>

</div>
<script src="assets/js/vue.js"></script>
<script src="assets/js/app.js"></script>
</body>
</html>